<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/{{ facebook_app_lang }}/sdk.js#xfbml=1&version=v12.0{{ facebook_app_id }}&autoLogAppEvents=1" nonce="oSRPJNlZ"></script>
{% if data_attributes %}
  <div class="fb-comments" {{ data_attributes }}></div>
{% endif %}
